:root {
  --main-color: #224814;
  --white-color: #fff;
  --black-color: #000;
  --paragraph-color: #575a7b;
  --btn-hover-color: #73bba3;
  --main-transition: 0.4s;
  --bg-green-color: #b4e380;
  --border-color: #ededed;
}
