/* Testimonials Styles */
.volunteer-opportunities,
.volunteer-registration {
  background-color: #f9f9f9;
}

.volunteer-opportunity {
  background-color: var(--white-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  a {
    transition: var(--main-transition);
  }
  a:hover {
    color: var(--main-color);
  }
}

.volunteer-benefits ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
  li {
    margin-bottom: 15px;
    font-size: 1.1rem;
    line-height: 1.5;
  }
}



